<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="net.p3ppp.xfaedsearch">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="AedSearch">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AbCdEfGhIjKlMnOpQrStUvWValueGoesHere" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>